.about__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  top: 10em;

  @include for-phone-only {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    color: #000000;
  }

  .about--image {
    background: url("../images/Ayo.jpg") no-repeat left / contain;
    height: 80vh;
  }

  .about--text__container {
    margin-top: -5px;
    @include for-phone-only {
      width: 90%;
      margin: auto;
    }

    & h2 {
      font-weight: bold;
      font-size: 64px;
      margin-bottom: 0rem;

      @include for-phone-only {
        font-size: 34px;
      }
    }

    & p {
      font-weight: 500;
      font-size: 20px;
      color: map-get($colors, primary);
      line-height: 37px;
      width: 581px;

      @include for-phone-only {
        color: #000000;
        font-size: 18px;
        width: 100%;
      }
    }
  }
}
