.blogcards--c {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 1186px;
  margin: auto auto 10vh auto;

  .blogcards {
    width: 584px;
    height: 500px;
    margin: 0 2rem 0 0;

    &:hover {
      cursor: pointer;
      // background-color: #000000;
      opacity: 0.5;
      background-size: contain;
      transition: 0.6s;
    }
  }

  .blogcard-1 {
    background: url("../images/Blog1.png") no-repeat center center / cover;
  }

  .blogcard-2 {
    background: url("../images/Rectangle3.jpg") no-repeat center center / cover;
  }
}
.blog--container {
  & h2 {
    width: 394px;
    background: url("../images/SquareDots.svg") no-repeat bottom right / contain;
    font-weight: bold;
    font-size: 72px;
    line-height: 108px;
    color: black;
    text-align: center;
    margin: auto auto 2em auto;
  }
}

.blog--link {
  margin-left: 400px;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  background: white;
  width: 150px;
  outline: none;
  text-decoration: none;
  position: absolute;
  color: black;
  align-items: center;
  // margin-top: 57vh;

  &:hover {
    color: white;
    background: black;
  }
}
