$colors: (
  primary: #ffffff,
  secondary: #2d3436,
  accent: #6c5ce7
);

.nav-wrapper {
  background-color: map-get($colors, primary);
  display: flex;
  align-items: center;
  height: 10vh;
  border-top: 3px solid #000000;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.nav--lists {
  display: flex;
  align-items: center;
  justify-content: center;

  & li:nth-child(2) {
    margin-left: auto;
  }

  & li:nth-child(6) {
    margin-right: auto;
  }

  & p {
    color: #000000;
  }

  li a {
    top: 0;
    padding: 0 10px;
    transition: 0.5s ease-in-out;

    &:hover {
      color: #6c5ce7;
    }
  }
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
menu li {
  padding: 0 0.5rem;
}
.logo {
  margin-right: 20px;
}
