$colors: (
  primary: #ffffff,
  secondary: #2d3436,
  accent: #6c5ce7
);



.nav-wrapper {
  background-color: map-get($colors, primary);
  display: flex;
  align-items: center;
  height: 10vh;
  border-top: 3px solid #000000;
  position: fixed;
  width: 100%;
  z-index: 4;
}

.nav--lists {
  display: flex;
  align-items: center;
  justify-content: center;

  & li:nth-child(2) {
    margin-right: 0;

    @include for-phone-only {
      display: none;
    }
  }

  & p {
    color: #000000;
  }
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
menu li {
  padding: 0 0.5rem;
}

.logo {
  margin-right: auto;

  & img {
    width: 100%;
  }

  & a {
    outline: none;
  }
}
