.works__container {
  height: auto;
  color: #000000;
  text-align: center;
  margin-bottom: 4em;

  & h2 {
    width: 394px;
    background: url("../images/SquareDots.svg") no-repeat bottom right / contain;
    font-weight: bold;
    font-size: 62px;
    line-height: 108px;
    color: black;
    text-align: center;
    margin: auto auto 2em auto;

    @include for-phone-only {
      width: 100%;
    }
  }
}

.work--card__container {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(1, 1fr);

  @include for-phone-only {
    grid-template-columns: repeat(1, 1fr);
  }
}

.work__card {
  width: 100%;
  height: 100%;
  position: relative;

  @include for-phone-only {
    width: 100%;
    height: auto;
  }
}

.work__card:hover .work--card__content {
  opacity: 0.9;
}

.work--image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease;
  backface-visibility: hidden;
  // cursor: pointer;

  @include for-phone-only {
    width: 100%;
    height: auto;
  }
}

.work--card__content {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  z-index: 2;

  @include for-phone-only {
    height: auto;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /* -webkit-transform: translate(-50%,-50%); */
    transform: none;
    -ms-transform: none;
    background-color: #000;
    color: #fff;
    text-align: center;
    z-index: 2;
  }

  & p {
    width: 500px;
    margin: auto;
    font-size: 24px;

    @include for-phone-only {
      font-size: 18px;
      width: 100%;
    }
  }

  & h3 {
    // padding-top: 2em;
    font-size: 32px;

    @include for-phone-only {
      font-size: 20px;
      width: 100%;
    }
  }
}
