@include media-mobile {
  // margin: 0;

  * {
    margin: 0;
  }
  .nav--lists {
    visibility: hidden;
  }
  .about__container {
    display: grid;
    grid-template-columns: 1fr;

    .about--text__container {
      & h2 {
        font-weight: bold;
        color: #000000;
      }

      & p {
        font-weight: medium;
        font-size: 20px;
        color: map-get($colors, secondary);
        line-height: 30px;
        width: 390px;
      }
    }
  }
  .myworks {
    & h2 {
      width: 394px;
      background: url("../images/SquareDots.svg") no-repeat bottom right /
        contain;
      font-weight: bold;
    }
  }

  .workcards--c {
    display: grid;
    grid-template-columns: 1fr;

    .workcards {
      width: 380px;
      height: 188px;
      margin: 2em;
    }
  }

  .btn--container {
    // width: 347px;
    background: url("../images/RectangleDots.svg") no-repeat bottom right /
      contain;
    display: flex;
    // align-items: center;
    // justify-content: center;
    margin: auto auto 5vh auto;
    padding-bottom: 20px;

    & a {
      outline: none;

      // & button {
      //   width: 296px;
      //   height: 89px;
      //   border: 2px solid map-get($colors, #000000);
      //   background: #ffffff;
      //   text-align: center;
      //   transition: 0.5s;
      //   cursor: pointer;

      //   &:hover {
      //     background: #000000;
      //     color: #ffffff;
      //   }
      // }
    }
  }

  .contact--container {
    width: 350px;
    margin-left: 50px;

    & p {
      color: #000000;
      font-family: poppins;
      font-size: 20px;
      line-height: 30px;
      margin: auto;
    }
    & h3 {
      color: map-get($colors, accent);
      font-size: 25px;
      line-height: 52px;
      font-weight: bold;
    }
  }
  .blog--container {
    & h2 {
      width: 394px;
      margin-left: 0;
      background: url("../images/SquareDots.svg") no-repeat bottom right /
        contain;
      font-weight: bold;
    }
    .blogcards--c {
      display: grid;
      grid-template-columns: 1fr;
      margin: auto auto 10vh auto;

      .blogcards {
        width: 360px;
        height: 188px;
        margin: 2em;
      }
    }
  }
  .footer--icon__container {
    width: 400px;

    .fab {
      margin: 5px;
    }
    & i {
      color: #ffffff;
    }
  }
  .menu-wrap {
    position: fixed;
    top: 0;
    right: 0;
  }
  .menu {
    display: none;
  }
  .mobile__container {
    display: flex;
  }
}

.blog--link {
  border: 1px solid black;
  background: white;
  // width: 120px;
  outline: none;
  text-decoration: none;
  margin: 10px 0 0 2em;

  &:hover {
    color: white;
    background: black;
  }
}
